html,body{margin: 0;padding:0}
body{font-family: "trebuchet MS",arial,sans-serif;font-size: 76%; font-size:0.9em; color:#fff; width:99.7%; height:100%;}

div#container{margin-left:auto; margin-right:auto; height:100%; width:100%;}

div#row_1{background-color: #fff; float:left;}
div#logo{background-color: #69c; float:left;}
nav#navigation_links{float:left;}

div#row_2{background-color: #36C; float:left;}
div#column_1{width:50%; height:100%;background-color: #36C;float:left; }
div#column_2{width:50%; height:100%; background-color: #36C;float:left;}
div#clear_columns{clear: both;}
div#footer{background-color: #36C; float:left;}
